* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font: 1rem;
  font-family: sans-serif;
  background-color: #EFEFEF;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}